DATABASE_URL=""
JWT_SECRET = ""

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

JWT_SECRET_MOBILE= ""
CRON_SECRET= ""

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
NEXT_PUBLIC_BASE_URL=